---
import BookIcon from "../icons/BookIcon.astro";
import BriefcaseIcon from "../icons/BriefcaseIcon.astro";
import ContactIcon from "../icons/MessengerIcon.astro";
import HomeIcon from "../icons/HomeIcon.astro";
import ProjectsIcon from "../icons/ProjectsIcon.astro";
import UserIcon from "../icons/UserIcon.astro";

const navItems = [
  // {
  //   name: "Home",
  //   label: "inicio",
  //   href: "#top",
  //   icon: HomeIcon,
  // },
  {
    name: "Projectos",
    label: "proyectos",
    href: "#projects",
    icon: ProjectsIcon,
  },
  {
    name: "Experiencia",
    label: "experiencia",
    href: "#experience",
    icon: BriefcaseIcon,
  },
  {
    name: "Estudios",
    label: "estudios",
    href: "#education",
    icon: BookIcon,
  },
  {
    name: "Sobre mí",
    label: "sobre-mi",
    href: "#about",
    icon: UserIcon,
  },
  // {
  //   name: "Contact",
  //   label: "contacto",
  //   href: "#contact",
  //   icon: ContactIcon,
  // },
];
---

<header
  class="fixed top-0 z-10 flex items-center justify-center w-full mx-auto mt-2"
>
  <nav
    class="flex px-3 text-sm font-medium rounded-full text-gray-600 dark:text-gray-200 justify-center items-center"
  >
    {
      navItems.map((link) => (
        <a
          href={link.href}
          class="relative block px-2 py-2 transition"
          aria-label={link.label}
          id={`nav-${link.label}`}
        >
          {/* {link.icon ? (
            <link.icon class="size-[1.5rem] hover:text-[#1890ff]" />
          ) : null} */}
          {link.name}
        </a>
      ))
    }
  </nav>
</header>

<style>
  .active {
    color: #1890ff !important;
  }

  nav {
    animation: nav-shadow 1s linear both;
    animation-timeline: scroll();
    animation-range: 0 100px;
  }

  @keyframes nav-shadow {
    to {
      @apply shadow-lg ring-1 backdrop-blur dark:bg-gray-800/90 bg-white/50 ring-white/10;
    }
  }
</style>

<script>
  document.addEventListener('DOMContentLoaded', () => {
    const sections = document.querySelectorAll('section');
    const navLinks = document.querySelectorAll('nav a');

    const observerOptions = {
      threshold: 0.3,
    };

    const observer = new IntersectionObserver((entries) => {
      entries.forEach(entry => {
        const navLink = document.querySelector(`nav a[href="#${entry.target.id}"]`);
        if (entry.isIntersecting) {
          navLink?.classList.add('active');
        } else {
          navLink?.classList.remove('active');
        }
      });
    }, observerOptions);

    sections.forEach(section => {
      observer.observe(section);
    });
  });
</script>
